<!doctype html>
<html>
    <head>
        <title>Sound</title>
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
            var socket = io();
            socket.on('chat message', function(msg){
                $("#audio").trigger('play');
            });
        </script>
    </head>
    <body>  
        <audio controls id="audio">
            <source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.mp4" type='audio/mp4'>
            <source src="http://media.w3.org/2010/07/bunny/04-Death_Becomes_Fur.oga" type='audio/ogg; codecs=vorbis'>
        </audio>
    </body>
</html>
